<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyCityLife</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Sample</display-name>
    <servlet-name>Sample</servlet-name>
    <servlet-class>com.ibm.controller.Sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample</servlet-name>
    <url-pattern>/Sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>p</display-name>
    <servlet-name>p</servlet-name>
    <servlet-class>com.ibm.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>p</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.ibm.controller.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImageServlet</display-name>
    <servlet-name>UploadImageServlet</servlet-name>
    <servlet-class>com.ibm.controller.UploadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageServlet</servlet-name>
    <url-pattern>/UploadImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.ibm.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.ibm.controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelBookingServlet</display-name>
    <servlet-name>HotelBookingServlet</servlet-name>
    <servlet-class>com.ibm.controller.HotelBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelBookingServlet</servlet-name>
    <url-pattern>/HotelBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadHotelUserImageServlet</display-name>
    <servlet-name>UploadHotelUserImageServlet</servlet-name>
    <servlet-class>com.ibm.controller.UploadHotelUserImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHotelUserImageServlet</servlet-name>
    <url-pattern>/UploadHotelUserImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHotelUserServlet</display-name>
    <servlet-name>DeleteHotelUserServlet</servlet-name>
    <servlet-class>com.ibm.controller.DeleteHotelUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHotelUserServlet</servlet-name>
    <url-pattern>/DeleteHotelUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.ibm.controller.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Answer</display-name>
    <servlet-name>Answer</servlet-name>
    <servlet-class>com.ibm.controller.Answer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Answer</servlet-name>
    <url-pattern>/Answer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Asking</display-name>
    <servlet-name>Asking</servlet-name>
    <servlet-class>com.ibm.controller.Asking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Asking</servlet-name>
    <url-pattern>/Asking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.ibm.controller.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.ibm.controller.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelBookingServlet</display-name>
    <servlet-name>CancelBookingServlet</servlet-name>
    <servlet-class>com.ibm.controller.CancelBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBookingServlet</servlet-name>
    <url-pattern>/CancelBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptchaServlet</display-name>
    <servlet-name>CaptchaServlet</servlet-name>
    <servlet-class>com.ibm.controller.CaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptchaServlet</servlet-name>
    <url-pattern>/CaptchaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.ibm.controller.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSell</display-name>
    <servlet-name>LoginSell</servlet-name>
    <servlet-class>com.ibm.controller.LoginSell</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSell</servlet-name>
    <url-pattern>/LoginSell</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSellServlet</display-name>
    <servlet-name>LoginSellServlet</servlet-name>
    <servlet-class>com.ibm.controller.LoginSellServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSellServlet</servlet-name>
    <url-pattern>/LoginSellServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginRentServlet</display-name>
    <servlet-name>LoginRentServlet</servlet-name>
    <servlet-class>com.ibm.controller.LoginRentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginRentServlet</servlet-name>
    <url-pattern>/LoginRentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellPropServlet</display-name>
    <servlet-name>SellPropServlet</servlet-name>
    <servlet-class>com.ibm.controller.SellPropServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellPropServlet</servlet-name>
    <url-pattern>/SellPropServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Regservlet</display-name>
    <servlet-name>Regservlet</servlet-name>
    <servlet-class>com.ibm.controller.Regservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regservlet</servlet-name>
    <url-pattern>/Regservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CabBookingServlet</display-name>
    <servlet-name>CabBookingServlet</servlet-name>
    <servlet-class>com.ibm.controller.CabBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CabBookingServlet</servlet-name>
    <url-pattern>/CabBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.ibm.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logincabservlet</display-name>
    <servlet-name>Logincabservlet</servlet-name>
    <servlet-class>com.ibm.controller.Logincabservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logincabservlet</servlet-name>
    <url-pattern>/Logincabservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.ibm.controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateHotelUserServlet</display-name>
    <servlet-name>UpdateHotelUserServlet</servlet-name>
    <servlet-class>com.ibm.controller.UpdateHotelUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateHotelUserServlet</servlet-name>
    <url-pattern>/UpdateHotelUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRestaurantUserServlet</display-name>
    <servlet-name>DeleteRestaurantUserServlet</servlet-name>
    <servlet-class>com.ibm.controller.DeleteRestaurantUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRestaurantUserServlet</servlet-name>
    <url-pattern>/DeleteRestaurantUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCabUserServlet</display-name>
    <servlet-name>DeleteCabUserServlet</servlet-name>
    <servlet-class>com.ibm.controller.DeleteCabUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCabUserServlet</servlet-name>
    <url-pattern>/DeleteCabUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePropertyServlet</display-name>
    <servlet-name>DeletePropertyServlet</servlet-name>
    <servlet-class>com.ibm.controller.DeletePropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePropertyServlet</servlet-name>
    <url-pattern>/DeletePropertyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookPropServlet</display-name>
    <servlet-name>BookPropServlet</servlet-name>
    <servlet-class>com.ibm.controller.BookPropServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookPropServlet</servlet-name>
    <url-pattern>/BookPropServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RentPropServlet</display-name>
    <servlet-name>RentPropServlet</servlet-name>
    <servlet-class>com.ibm.controller.RentPropServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentPropServlet</servlet-name>
    <url-pattern>/RentPropServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPropertyImageServlet</display-name>
    <servlet-name>UploadPropertyImageServlet</servlet-name>
    <servlet-class>com.ibm.controller.UploadPropertyImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPropertyImageServlet</servlet-name>
    <url-pattern>/UploadPropertyImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelRestaurantBookingServlet</display-name>
    <servlet-name>CancelRestaurantBookingServlet</servlet-name>
    <servlet-class>com.ibm.controller.CancelRestaurantBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelRestaurantBookingServlet</servlet-name>
    <url-pattern>/CancelRestaurantBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelCabBookingServlet</display-name>
    <servlet-name>CancelCabBookingServlet</servlet-name>
    <servlet-class>com.ibm.controller.CancelCabBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelCabBookingServlet</servlet-name>
    <url-pattern>/CancelCabBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buyingServlet</display-name>
    <servlet-name>buyingServlet</servlet-name>
    <servlet-class>com.ibm.controller.buyingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buyingServlet</servlet-name>
    <url-pattern>/buyingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>com.ibm.controller.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
</web-app>